html,body{
height: 100%;
}

@font-face { font-family: 'UhBeeZIGLE';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeZIGLE.woff')
     format('woff'); font-weight: normal; font-style: normal;
     }


.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    font-size: large;
    font-family: 'UhBeeZIGLE'
   
}


.label1{
    color:#0D0D0D;
    font-weight: bold;
    margin-top: -70px;
  
}

.label2{
    color:#0D0D0D;
    font-weight: bold;
    margin-top: 50px;
    
}

.input_box input{
    border:#ffffff00 solid 2px;
    border-radius: 20px;
    padding:12px 10px;
    font-size:medium;
    box-shadow: 0 3px 6px rgba(102, 102, 102, 0.16), 0 3px 6px rgba(196, 196, 196, 0.23);
    font-family: 'UhBeeZIGLE'
}


.input_box input:focus{
  outline:none;
  background-color: white;
}


.input_box input:hover{
   
   border:2px solid  #A6A6A6;
  
}

.login_btn{
    background-color: #A6A6A6 ;
    padding:8px;
    padding-top: 10px;
    border:2px solid #A6A6A6 ;
    border-radius: 30px;
    margin-top: 60px ;
    margin-left: 30px;
    width: 110px;
    font-size:x-large;
    font-family:'UhBeeZIGLE';
    cursor: pointer;
    color:white;
    
}
.login_btn:hover{
  
    color:#A6A6A6 ;
    background-color: white;
    border: 2px solid #A6A6A6; 
}

.login_btn:focus{
    outline:none;
  }


