.ac_item{
    background-color:#E8C3A9;
    font-family: 'nanumsquare_R';
    margin: 30px;
}



.label3{
    color: #E8B1A9;
}
 

.label4{
    color:  #E8B1A9;
}

.label5{
    color:  #E8B1A9;
}

.register_btn{
    color: brown;
}
