{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>nickname</title>
    <link rel="Stylesheet" type="text/css" href="{% static 'css/nickname.css' %}">
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for i in NickNameform %}
    <div>{{i.label}}</div>
    {{i}}
    {{i.errors}}
    {% endfor %}
    
    <input type="submit" value="닉네임 생성 완료!" id="register_btn">
</form>
</body>
</html>