{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>{% block title %}PetPrint{% endblock %}</title>
  
    {% block head %}{% endblock %}
</head>
<body>
    <div id = "container">
        <div id="auth">
            <ul>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.id %}">{{user.username}}님 안녕하세요!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sign_up' %}">sign_up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'login' %}"> Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div id="header">
            <div id="logobox"><img id ="logo" src="{% static 'img/logo.png' %}" alt="logo">
                <a href="random.html"></a>
            </div>
            <div id="catebox">
                <ul>    
                    <li><a href="index.html"><img class="cateimg" src="{% static 'img/home.png' %}" alt="home" ></a></li>
                        
                    <li><a href="following.html"><img class="cateimg" src="{% static 'img/following.png' %}" alt="following" ></a></li>
                    
                    <li><a href="user.html"><img class="cateimg" src="{% static 'img/user.png' %}" alt="user" ></a></li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <p>
            {% block content %}
            {% endblock %}
        </p>
        

    </div>
</body>
</html>
