{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>{% block title %}PetPrint{% endblock %}</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!--<script>$(function() {

        $(document).ready(function() {
      
          var scrollOffset = $('.create-btn').offset();
      
          $(window).scroll(function() {
            if ($(document).scrollTop() > scrollOffset.top) {
              $('.create-btn').addClass('scroll-fixed');
            }
            else {
              $('.create-btn').removeClass('scroll-fixed');
            }
          });
        } );
      
      });
    </script>-->
    {% block head %}{% endblock %}
</head>
<body>
    <div id = "container">
        <div id="auth">
            <ul>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' user.id %}">{{user.username}}님 안녕하세요</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sign_up' %}">sign_up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'login' %}"> Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div id="header">
            <div id="logobox"><img id ="logo" src="{% static 'img/logo.png' %}" alt="logo">
                <a href="random.html"></a>
            </div>
            <div id="catebox">
                <ul>    
                    <li><a href="{% url 'index' %}"><img class="cateimg" src="{% static 'img/home.png' %}" alt="home" ></a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'follow_index'  user.id %}"><img class="cateimg" src="{% static 'img/following.png' %}" alt="following" ></a></li>
                        <li><a href="{% url 'profile' user.id %}"><img class="cateimg" src="{% static 'img/user.png' %}" alt="user" ></a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}"><img class="cateimg" src="{% static 'img/following.png' %}" alt="following" ></a></li>
                        <li><a href="{% url 'login' %}"><img class="cateimg" src="{% static 'img/user.png' %}" alt="user" ></a></li>
                    {% endif%}
                </ul>
            </div>
        </div>
        <br>
        <p>
            {% block content %}
            {% endblock %}
        </p>
        

    </div>
    
</body>
</html>
