
{% extends 'base.html' %}
{% block title %}
    create.html
{% endblock%}
{% block head %} 
<style>
    .contentbox{
        text-align: center;
    }
</style>
{% endblock %}
<form>
    <input type='date' id='currentDate'/>
  </form>
  <script>
    document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);;
  </script>

<form>
    <input type="radio" name="weather" value="행복" checked="행복"/>행복
    <input type="radio" name="weather" value="우울"/>우울
    <input type="radio" name="weather" value="슬픔"/>슬픔
</form>

<form>
    <input type="radio" name="today" value="운동중" checked="운동중"/>운동중
    <input type="radio" name="today" value="훈련중"/>훈련중
    <input type="radio" name="today" value="반성중"/>반성중
</form>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{diary_form.as_p}}
    <input type="submit" value="작성완료">
</form>
{% block content %}
<div class="contentbox">
    
</div>
{% endblock %}

<!--버튼 커스터마이징 하기-->