{% extends 'base.html' %}
{% load static %}
{% block title %}
    create.html
{% endblock%}
{% block content %}
<div class="diarybox">
    <div>
    <button class="create-btn"><a href="{% url 'index' %}"><h1>home</h1></a></button>
    <button class="create-btn"><a href="{% url 'update' diary.id %}"><h1>update</h1></a></button>
    {% if user.username == diary.owner %}
    <button class="create-btn"><a href="{% url 'delete' diary.id %}"><h1>delete</h1></a></button>
    {%endif%}
    </div>
        <div id = "diaryid">diary id: {{diary.id}}</div>
        <img width="10%" height="auto" margin-top="10%" src="{% static 'img/footprint.gif' %}">
        <div id = "diarytitle"> {{diary.title}}</div>
        <div id="diaryinfo"><a href="{% url 'profile' diary.owner.id %}">작성자 : {{diary.owner}}   작성 시간 : {{diary.time}}</a></div>
       
        <div id = "diarybody">
        
        {% if diary.images.url == '/detail/media/null' or diary.images.url == '/media/null'%}
            
        {% else %}
        <div class="detail_container">
            <div class="detail_img_view"><img class="detail_img"src="{{diary.images.url}}" ></div>
         </div>
         {% endif %}
       
        <p>{{diary.body| safe }}</p></div>
        <p><h2>hashtag</h2></p>
        {% for tag in tags %}
            <p><a href="{% url 'search_hashtag' tag.id %}"> # {{ tag }}</a></p>
        {% endfor %}
        <div id = "diarycomment">
        <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
        <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
        <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
        <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
        <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
        <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 

        <h2 style="display: inline;">comments</h2>

        <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
        <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
        <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
        <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
        <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
        <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 

        <form method='POST' action="{% url 'comment_create' diary.id %}">
        </div>
            {% csrf_token %}
                {{ comments }}
            <input type="submit" value="댓글쓰기">
        </form>
        {% for i in diary.comment_set.all %}
            <hr>
            <p>{{i.body}}</p>
        {% endfor %}
    </div>
{% endblock %}