{% extends 'base.html' %}
{% block title %}
    use.html
{% endblock%}
{% block content %}

<section id="container">

    <header id="header">
        <section class="h_inner">

            <h1 class="logo">
                <a href="index.html">
                    <div class="sprite_insta_icon"></div>
                    <div>
                        <div class="sprite_write_logo"></div>
                    </div>
                </a>
            </h1>

            <div class="search_field">
                <input type="text" placeholder="검색" tabindex="0">

                <div class="fake_field">
                    <span class=sprite_small_search_icon></span>
                    <span>검색</span>
                </div>
            </div>


            <div class="right_icons">
                <a href="new_post.html"><div class="sprite_camera_icon"></div></a>
                <a href="login.html"><div class="sprite_compass_icon"></div></a>
                <a href="follow.html"><div class="sprite_heart_icon_outline"></div></a>
                <a href="profile.html"><div class="sprite_user_icon_outline"></div></a>
            </div>
        </section>
    </header>


    <div id="main_container">

        <section class="b_inner">

            <div class="hori_cont">
                <div class="profile_wrap">
                    <div class="profile_img">
                        <img src="/Users/Mac/Desktop/lights/lights/petprint/media/2020/44/06/04/20/1571363511421.png" alt="likelion8">
                    </div>
                </div>

                <div class="detail">
                    <div class="top">
                        <div class="user_name">KindTiger</div>
                        <a href="{% url 'profile_edit' %}" class="profile_edit">프로필편집</a>
                        <a href="#" class="logout">로그아웃</a>
                    </div>

                    <ul class="middle">
                        <li>
                            <span>게시물</span>
                            3
                        </li>
                        <li>
                            <span>팔로워</span>
                            3
                        </li>
                        <li>
                            <span>팔로우</span>
                            3
                        </li>
                    </ul>
                    <p class="about">
                        <span class="nick_name">petprint</span>
                    </p>

                </div>
            </div>

            <div class="contents_container">
                <div class="pic">
                    <img src="/Users/Mac/Desktop/lights/lights/petprint/media/2020/44/06/04/20/1571363511421.png" alt="">
                </div>
            </div>

        </section>
    </div>


</section>

{% endblock %}