{% extends 'base.html' %}
{% block title %} profile {% endblock %}
{% block content %}
<div>
    <div><a href="{% url 'profile_update' user.id%}">update</a>
    <a href="{% url 'profile_create' user.id %}">create</a></div>

    <div>
        <div>
            {% if diary.owner == profile.onwer %}
                <div>name: {{profile.pet_name}}</div>
                {% if profile.pet_image != '' %}
                <div class="view_image"><img src="{{profile.pet_image.url}}" width="200px" height="200px"></div>
                {% endif %}
                <div>explain: {{profile.pet_explain}}</div>
            {% else %}
                <div>test</div>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
            {% if  user in list_followers %}
                <div><a href="{% url 'unfollow' profile.owner_id user.id %}">unfollow</a></div>
            {% else %}
                <div><a href="{% url 'follow' profile.owner_id user.id %}">follow</a></div>
            {% endif %}
        {% endif %}

        <h3>followers</h3>
        <div>num of followers: {{ followers.count }}</div>
        {% if followers %}
            {% for follower in followers %}
            <div>follower : {{ follower.follower }}</div>
            {% endfor %}
        {% endif %}

        {% for content in diary %}
        <div><a href="{% url 'detail' content.id %}"></a></div>
        <div class="content">
            <br>
            <hidden id="owner">{{content.owner}}</hidden>
            <!-- <hidden id="id">{{content.id}}</hidden> -->
            <hidden id="title">{{content.title}}</hidden>
            {% if content.images.url == '/media/null'%}
            <p class="view_image"><img src="media/default.jpg" width="200px" height="200px"></p>
            {% else %}
            <p class="view_image"><img src="{{content.images.url}}" width="200px" height="200px"></p>
            {% endif %}
        </div>
        </a>
        {% endfor %}
    </div>
        {% endblock %}