{% extends 'base.html' %}
{% load static %}
{% block title %} profile {% endblock %}

{% block content %}
<div class="contentbox">
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />   
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <div class="profilebox">
        

       <div class="profile_img_view">
            {% if diary.owner == profile.onwer %}  
               
                    {% if profile.pet_image != '' %}
                    <img class="profile_img" src="{{profile.pet_image.url}}">
                    {% else %}
                    <img class="profile_img" src="media/default.jpg">
                
            {% endif %}
        </div>
        
        <div class="profile_detail_view">
            <div>
                <div class="profileinfo">나의 반려동물이름은</div>
            
                <div class="profileinfo-detail">"{{profile.pet_name}}"</div>
            </div>
            <br>
                <div>
                <div class="profileinfo">우리 {{profile.pet_name}} 소개해요!</div>
            
                <div class="profileinfo-detail">{{profile.pet_explain}}</div></div>
        {% else %}
        <div>test</div>
        {% endif %}
        
        <br>
        {% if user.is_authenticated %}
            {% if  user in list_followers %}
                <button class="create-btn"><a href="{% url 'unfollow' profile.owner_id user.id %}"><h1>unfollow</h1></a></button>
            {% else %}
                <button class="create-btn"><a href="{% url 'follow' profile.owner_id user.id %}"><h1>follow</h1></a></button>
            {% endif %}
        {% endif %}
    
        <h3>followers</h3>
        <div>num of followers: {{ followers.count }}</div>
        {% if followers %}
            {% for follower in followers %}
            <div>follower : {{ follower.follower }}</div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <div>
        <button class="create-btn"><a href="{% url 'profile_update' user.id%}"><h1>update</h1></a></button>
        <button class="create-btn"><a href="{% url 'profile_create' user.id %}"><h1>create</h1></a></button>
    </div>
        <br>
        <br>
        <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />   
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" />
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <img class="footprint" src="{% static 'img/footprintprint.png' %}" /> 
    <br><br><br>
        <div class="detailbox">
            {% for content in diary %}

                    <article class="content">
                        <a href="{% url 'detail' content.id %}">
                        <div class="location-title">
                            <hidden id="owner">{{content.owner}}</hidden>
                            <!-- <hidden id="id">{{content.id}}</hidden> -->
                            <p>::</p>
                            <hidden id="title">{{content.title}}</hidden>
                        </div>
                        {% if content.images.url == '/media/null'%}
                            <div class="view_image"><img src="{% static 'img/footprint.png' %}"></div>
                        {% else %}
                            <div class="view_image"><img src="{{content.images.url}}" ></div>
                        {% endif %}  
                    </a>
                    </article>
              
            {% endfor %}
            </div>
    
{% endblock %}